[Unit]
Description=Autolock by Sesame with SwithBot's contact sensor
After=bluetooth.service

[Service]
Type=simple
ExecStartPre=
ExecStart=bash -lc sesame_autolocker.py
ExecStopPost=
Restart=always

[Install]
WantedBy=multi-user.target
