[Unit]
Description = Autolock by Sesame with SwithBot's contact sensor
After = bluetooth.service

[Service]
Type = simple
WorkingDirectory = /opt/sesame-autolocker
ExecStartPost =
ExecStart = /opt/sesame-autolocker/main.py
ExecStopPost =
Restart = always

[Install]
WantedBy = multi-user.target
